<div class="password-generator">
  <h1>Password Generator</h1>

  <div>
    <label>
      Password Length:
      <input
        type="number"
        [(ngModel)]="length"
        [min]="minLength"
        [max]="maxLength"
        (blur)="onLengthBlur()"
      />
      <small>&nbsp;&nbsp;Min: {{ minLength }}</small>
      <small>&nbsp;&nbsp;Max: {{ maxLength }}</small>
    </label>
  </div>

  <div>
    <label>
      <input type="checkbox" [(ngModel)]="includeLetters" />
      Include Letters
    </label>
  </div>

  <div>
    <label>
      <input type="checkbox" [(ngModel)]="includeNumbers" />
      Include Numbers
    </label>
  </div>

  <div>
    <label>
      <input type="checkbox" [(ngModel)]="includeSymbols" />
      Include Symbols
    </label>
  </div>

  <div>
    <button (click)="onGeneratePassword()">Generate Password</button>
  </div>

  <div>
    <p>Your generated password: <strong>{{ password }}</strong></p>
  </div>
</div>
